{% extends 'base.jinja' %}

{% block content %}


    {% for list in lists %}
        <p><a href="{{ url_for('lists.show_list', id=list.id) }}">{{ list.name }}</a></p>
        
    {% endfor %}
    
{% endblock content %}
