{% extends 'base.jinja' %}

{% block content %}
    
    <p>This will be sortation method</p>
    <select name="sort" id="sort">
        {% for store in stores %}
           <option value="{{ store.name }}">{{ store.name }}</option>
        {% endfor %}
    </select>
    <p>{{ list.name }}</p>    
    {% for entry in on_list %}
        {{ entry.item.name }}        
    {% endfor %}
        
    <form action="{{ url_for('lists.search_item', id=list.id) }}" method="POST">
        <label for="item"></label>
        <input type="text" name="item" id="item">
        <button>Search</button>
    </form>
    <form action="{{ url_for('lists.add_item', id=list.id) }}" method="POST">
        <p>{{ item.name }} {{ item.price }}</p>
        <button name="item_name" type="submit" value="{{ item.name}}">Add {{ item.name }}</button>
    </form>
    <section class="items_list">
        {% for item in items  %}
            <form action="{{ url_for('lists.add_item', id=list.id) }}" method="POST">
                <button class="product" name="item_name" type="submit" value="{{ item.name}}">{{ item.name }} {{ item.price }}</button>
            </form>
        {% endfor %}
    </section>
{% endblock content %}