{% extends 'base.jinja' %}

{% block content %}
    
    <p>{{ list.name }} </p>  
    {% for entry in on_list %}
        {{ entry.item.name }}        
    {% endfor %}
        
    <form action="{{ url_for('lists.search_item', id=list.id) }}" method="POST">
        <label for="item"></label>
        <input type="text" name="item" id="item">
        <button>Search</button>
    </form>
    <p>pick from the list</p>
    <section class="items_list">
        {% for item in items  %}
            <form action="{{ url_for('lists.add_item', id=list.id) }}" method="POST">
                <button class="product" name="item_name" type="submit" value="{{ item.name}}">{{ item.name }}</button>
            </form>
        {% endfor %}
    </section>
{% endblock content %}