{% extends 'base.jinja' %}

{% block content %}

    <section class="user">
        <div class="user__list">
        {% for user in users %}
           <p><a href="{{ url_for('users.user', name=user.fullname) }}">{{ user.fullname }}</a></p> 
        {% endfor %}
        </div>

    </section>
    
{% endblock content %}