{% extends 'base.jinja' %}

{% block content %}

    <section class="user">
        <div class="user__list">
            <h2>Danny Donaldson</h2>
        </div>

    </section>
    
{% endblock content %}