{% extends 'base.jinja' %}

{% block content %}

    <section class="user">
        <div class="user__list">
        {% for user in users %}
           <p>{{ user.fullname }}</p> 
        {% endfor %}
            <h2>Danny Donaldson</h2>
        </div>

    </section>
    
{% endblock content %}